.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: #eceaea; */
}

.main-content {
  flex: 1;
  padding: 2rem;
}

/* Footer */
.footer {
  background: var(--primary-dark);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* MARK: HEADER */
.header {
  background: var(--primary-dark);
  color: #fff;
  text-align: center;
  display: flex;
  padding: 20px;
  margin: auto;
  border-radius: 15px;
}

.logo {
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  border: 5px solid var(--accent-color);
}

.header-content {
  padding: 5%;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 50%;
    background-size: cover;
  }
  .header-content {
    width: 100%;
    text-align: center;
  }
  
}